##Question 1:-Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [10]:
number = [12,75,150,180,145,525,50]

largest_number = 0
for i in number:
  if largest_number < i:
    largest_number = i
print(f"the largest number is: {largest_number}")

minimum_number = largest_number
for i in number:
  if minimum_number > i:
    minimum_number = i
print(f"the minimum number is: {minimum_number}")

the largest number is: 525
the minimum number is: 12

##Question 2:-Print all the even number between (1, 12)

In [14]:
print("even number")
for i in range(1,13):
  if i%2 == 0:
    print(i)

print("odd number")
for i in range(1,13):
  if i%2 !=0:
    print(i)

even number
2
4
6
8
10
12
odd number
1
3
5
7
9
11

##Question 3:- Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is: 55

In [19]:
total_number = int(input("Enter the number"))
sum = 0
for i in range(1,total_number+1):
  sum +=i
print(f"the total sum is : {sum}")

Enter the number10
the total sum is : 55

##Question 4:-Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

#given
numbers = [12, 75, 150, 180, 145, 525, 50]

In [20]:
number = [12,75,150,180,145,525,50]

for i in number:
  if i <= 150 and i%5==0:
    print(i)
  elif i>=500:
    break

75
150
145

##Question 5:-Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [23]:
list1 = [10,20,30,40,50]
print(f"before the reverse {list1}")
list1 = list1[-1::-1]
print(f"after the reverse {list1}")

before the reverse [10, 20, 30, 40, 50]
after the reverse [50, 40, 30, 20, 10]