##Question 1:-What is indentation error? Why indentation is important? Give one simple example?

##Answer:- if we can not provided a proper white space in our code so that the interpreter would able to understand that block of code and excecuted and executed all the lines then we get a indentation error

In [6]:
a = 10
b = 20
  print(f"the sum of a and b is:{a+b}")

IndentationError: ignored

##Question 2:-Correct the following code and write the comment where you made the correction?

  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))
  if class_started:
     print("Since class started...")
     print("Lets concentrate") 
  else:
     print("Since class is not started...")
     print("let's revise")    
  HINT: Refer your data type conversion class

In [17]:

  class_started = (input("Hey friend, is class started?: [0-False/1-True]")) #we removed the boolean conversion because
  # all our input 0,1,True,False etc. transfrom into true value and our source code gone wrong side 
  # and if we only take a input from user if user input is 0 or False that input covert into True or 1 
  #we solve this problem using if condition if user input 0 or False we conveting into empty string 
  if class_started == "0" or class_started == "False":
    class_started = "" 
  
  if class_started:
     print("Since class started...")
     print("Lets concentrate") 
  else:
     print("Since class is not started...")
     print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

##Question 3:-Use if else condition to verify that dataype of input() method in python is always string.

In [22]:
name = input("hey,what is your name: ")
if type(name)==str:
  print(type(name))
  print("i am string")
else:
  print("i am not a string")

hey,what is your name: vinay
<class 'str'>
i am string

##Question 4:-Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [24]:
num_1 = 12
num_2 = 22
num_3 = 44
if num_1<num_2:
  if num_1 > num_3:
    print("num_2 is greater then num_1 and num_3")
  else:
    print("num_3 is greater than num_1 and num_2")
else:
  print("num_2 is greater than num_2 and num_3")

num_3 is greater than num_1 and num_2

##Question 5:- What would be the solution?

True

False

In [25]:
a = 10
b = 20

print(not(not(a==10) or not(b==10)))

False

##Question 6:-
Find the answer as well as find out the reason behind the result? 

case 1:

    A = 5.0
    B = 10/2
    print(A is B)
case 2:
  
    A = 5.0
    B = int(10/2)
    print(A is B)
case 3:

    A = 5.0
    B = float(10/2)
    print(A is B)

In [26]:
#case 1:
A = 5.0
B = 10/2
print(A is B)

"""
->A variable data type is float it cosist a number 5 with base of 10 and B variable data type is int and it consist arithematic opteration 10/2 it gives a interger value
->python interpreter both variable allocate memory loaction in different block variable A is consist float value is 5.0
 and variable B is consist int value is 5 both are different data type
"""

False

'\n->A variable data type is float it cosist a number 5 with base of 10 and B variable data type is int and it consist arithematic opteration 10/2 it gives a interger value\n->python interpreter both variable allocate memory loaction in different block variable A is consist float value is 5.0\n and variable B is consist int value is 5 both are different data type\n'

In [28]:
#case 2:

A = 5.0
B = int(10/2)
print(A is B)


""" A variable is consist a value 5.0 with base of 10 it is float data type and B consist type casting with arithematic operation 10/2 its data type is int"""

False

' A variable is consist a value 5.0 with base of 10 it is float data type and B consist type casting with arithematic operation 10/2 its data type is int'

In [32]:
#case 3:

A = 5.0
B = float(10/2)
print(A is B)

"""

the arithmatic expression is of base 2 and is converted to float type . Same as case 1 


"""
a = 5.0
b = float(10/2)
print(b)
print(a==b)

False
5.0
True

Try to understand the following examples and answer the question based on it -
Arithmatic Operators

Operation	Meaning
+	addition
-	subtraction
*	multiplication
/	true division
//	integer division
%	the modulo operator
Here +, -, *, / are regular arithmatic operators. Lets look at the // and % operators

In [40]:
var_a = 5
var_b =25
interger_division = var_b//var_a
print(f"the value of var_a: {var_a} and value of var_b: {var_b} = {interger_division}")

the value of var_a: 5 and value of var_b: 25 = 5

In [41]:
var_a = 3
var_b = 25
inter_division = var_b//var_a
print(f"the value of var_a: {var_a} and value of var_b: {var_b} = {inter_division}")

the value of var_a: 3 and value of var_b: 25 = 8

In [43]:
var_a =  5
var_b = 25
reminder = var_b%var_a
print(f"the value of var_a: {var_a} and value var_b: {var_b} = {reminder}")

the value of var_a: 5 and value var_b: 25 = 0

In [44]:
var_a = 3
var_b = 25
reminder = var_b%var_a
print(f"the value of var_a is: {var_a} and value of var_b is: {var_b} = {reminder}")

the value of var_a is: 3 and value of var_b is: 25 = 1

##Question 7:-Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [46]:
number = int(input("Enter the number we check the number is divisible by 3 or 5  or not"))

if number % 3 == 0 or number % 5 == 0:
    print(f"the number is: {number} divisiable by 3 or 5")
else:
    print(f"the number is: {number} is not divisiable by 3 or 5")

Enter the number we check the number is divisible by 3 or 5  or not1
the number is: 1 is not divisiable by 3 or 5

##Question 8:-Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [50]:
length = int(input("Enter the length "))
width = int(input("Enter the width "))
area = length * width

if length==width:
  print(f"the length is:{length} metre and the width is: {width} metre ->it is a squre area {area} metre")
else:
  print(f"the length is:{length} metre and the width is: {width} metre -> the area is: {area} metre")

Enter the length 25
Enter the width 78
the length is:25 metre and the width is: 78 metre -> the area is: 1950 metre

##Question 9:-Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [54]:
circle_radius_1 = int(input("Enter the radius of 1'st circle is: "))
circle_radius_2 = int(input("Enter the radius of 2'nd circle is: "))

circle_area_1 = (3.14*(circle_radius_1**2) )
circle_area_2 = (3.14*(circle_radius_2**2))

print(f"the area of 1'st circle is: {circle_area_1} sq metre")
print(f"the area of 2'st circle is: {circle_area_2} sq metre")

if circle_area_1 == circle_area_2:
  print("both the circle are same area")
else:
  if circle_area_1 > circle_area_2:
    print("circle 1'st is greater than circle 2'nd ")
  else:
    print("circle 2'nd is greater than circle 1'st")

Enter the radius of 1'st circle is: 25
Enter the radius of 2'nd circle is: 36
the area of 1'st circle is: 1962.5 sq metre
the area of 2'st circle is: 4069.44 sq metre
circle 2'nd is greater than circle 1'st

##Question 10:- Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [55]:
leap_year = 2100

if leap_year % 4 == 0 :
  if leap_year % 400 ==0:
    print("It is a leap year")
  else:
    print("Not a leap year")
else:
  print("It is not a leap year")

Not a leap year