## Question 1:-  Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

## 1.  first error as case sensetivity when we create an variable in python same name but different case(upper case and lower case), python treat as a different variable.

In [2]:
TEN = 240
ten = 12

print(Ten)
print(tEn)

NameError: ignored

## 2. Second error we found special symbol we can not use in variable name but we are only use underscore symbol(_) in variable

In [4]:
name@ = "vinay"
age& = 10

print(name@)
print(age&)

SyntaxError: ignored

##3. third error is we can not start variable with number but we can use number middle and end of the variable name

In [5]:
10name = "harshit"
name10 = "vinay"

SyntaxError: ignored

##4.-> fourth error we found reserved key error , python provide a facility we use keyword as a variable but we can not use keyword as a variable .
## ->if we can use keyword as a variable those keyword functionlity we can not use in python source code

In [6]:
print = 10

print("hey my name is vinay ")

TypeError: ignored

In [12]:
del print

## 5. we can not change empty string into other data type

In [7]:
a =""
b = int(a)

ValueError: ignored

##6. sixth error is when we take a user input those time all input python cosider as a string when we can concatenate those input with other data type we get an error

In [8]:
a = "hi i am vinay"
b = 10
print(a+b)

TypeError: ignored

Question 2:- Take input A and B and print their sum, mul, div, square of the nos.

In [16]:
a = int(input("Enter the value of a: "))
b = int(input("enter the value of b: "))

print(f"the value of a is: {a}")
print(f"the value of b is: {b}")

sum = a+b
subtract = a-b
multiply = a*b
divide = a/b
squre = a**b

print(f" {a} + {b} sum is = {sum}")
print(f" {a} - {b} subtract is = {subtract}")
print(f" {a} * {b} multiply is = {multiply}")
print(f" {a} / {b} divide is = {divide}")
print(f" {a} ** {b} squre is = {squre}")

Enter the value of a: 10
enter the value of b: 20
the value of a is: 10
the value of b is: 20
 10 + 20 sum is = 30
 10 - 20 subtract is = -10
 10 * 20 multiply is = 200
 10 / 20 divide is = 0.5
 10 ** 20 squre is = 100000000000000000000

##Question 3.How many reserve keywords are there in python and why we should not use them as a variable name.

answer:1. In python programming there are 33 keywords 
      2.python provide a facility we use keyword as a variable but we can    not use keyword as a variable .
3.if we can use keyword as a variable those keyword functionlity we can not use in python source code

##Question 4:- Create email ids with the user inputs. in the following format
                lastname.firstname@gmail.com

In [17]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name: ")

print(f"{last_name}.{first_name}@gmail.com")

Enter your first name:vinay
Enter your last name: agrawal
agrawal.vinay@gmail.com

##Question 5:- Try to print the following lines -
                *Hi I'm Sunny
                *My address is 22\3
                *I earn 20$ daily.

In [20]:
print_1 = "Hi I'm Sunny"
print_2 = "My address is 22\3"
print_3 = "Iearn 20$ daily."
print(f"the first print is: {print_1}")
print(f"the second print is: {print_2}")
print(f"the third print is: {print_3}")

the first print is: Hi I'm Sunny
the second print is: My address is 22
the third print is: Iearn 20$ daily.